#foo {
    display: none;
}

#textBackgroundFight {
    position: absolute; 
    background-color: white;
    color: darkred;
    top: 490px; 
    left: 145px; 
    width: 600px; 
    height: 100px;
    display: none;
}

#textBackgroundConversation {
    position: absolute; 
    background-color: white;
    border-color: black;
    color: darkred;
    border-width: 2px;
    top: 450px; 
    left: 145px; 
    width: 600px; 
    height: 100px;
    display: none;
}
