/*Overlay menue*/

.overlay {
    color: white;
    height: 100%;
    width: 0%; /*else on refresh adjust padding*/
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgba(131, 10, 10, 0.7);
    overflow-x: hidden; /*else see dots and underlinings while hidden*/
    transition: 0.2s;
}

.overlay-content {
    font-size: 16px;
    text-align: center;
    line-height: 2em;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    color: white;
    text-decoration: none;
}

.overlay a:hover {
    color: #270b0b;
}

.overlay .closebtn {
    position: absolute;
    top: 8px;
    right: 21px;
    font-size: 45px;
}

.authors {
    cursor: context-menu;
    margin-top: 100px;
    line-height: 1.5em;
}

.uni {
    text-decoration: underline;
    margin-bottom: 2em;
}

.ol-menue {
    padding: 10px 10px
}


/*
Game Explanation
*/

.explanation {
    color: white;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(131, 10, 10, 0.7);
    overflow-x: hidden;
    transition: 0s;
}

.explanation-content {
    font-size: 16px;
    text-align: center;
    line-height: 1.5em;
    margin-left: 15px;
    position: relative;
    top: 25%;
    width: 90%;
}

.exp-opener:hover {
    size: 16px;
}

.exp-opener:hover {
    color: #270b0b;
}

.explanation .closebtn {
    position: absolute;
    top: 8px;
    left: 21px;
    font-size: 45px;
}